body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.alert {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  display: none;
}

.alert-show {
  display: block;
}

.alert ion-icon {
  font-size: 2rem;
  vertical-align: text-bottom;
}

header {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.search-user button {
  width: 100%;
}

.github-user {
  display: flex;
  flex-wrap: wrap;
}

.user-item {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  flex: 1 0 21%;
  display: flex;
  flex-direction: column;
  margin: 1%;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.user-item:hover {
  background-color: #f5f5f5;
}
.user-item:hover img {
  opacity: 0.75;
}

.user-item img {
  width: ©00px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  margin-bottom: 1rem;
}

.user-summary {
  text-align: center;
  display: none;
}

.user-profile img {
  width: 250px;
  border-radius: 10px;
}
.user-profile h2 {
  font-size: 2rem;
  font-weight: bold;
}

.statistic-item {
  background-color: #fff;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.box {
  font-size: 2rem;
  font-weight: bold;
}

.show {
  display: block;
}
